<!-- New Arrivals Section -->
    <section class="arrivals-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="arrival-title-box">
                        <h1 class="arrival-title">New Arrivals</h1>
                        <hr class="arrival-title-line">
                    </div>
                </div>
              {% assign new_arrivals = collections['new-arrivals'].products %}
{% for product in new_arrivals limit:4 %}
                <div class="col-md-6">
                    <div class="arrival-img-box">
                       <a href="{{ product.url }}"> <img class="arrival-img" src="{{ product.featured_image.src | img_url: '600x600' }}"></a>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- End New Arrivals Section -->

   